body {
    height: 100%;
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
  	font-family: Montserrat;
  	font-size: 14px;
  	font-weight: normal;
  	font-stretch: normal;
  	font-style: normal;
	  line-height: normal;
  	letter-spacing: normal;
  	color: #4b4b4b;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 20px;
}

.nav__links {
    list-style-type: none;
    font-family: Montserrat;
  	font-size: 14px;
  	font-weight: normal;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #4b4b4b;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #282828;
}

header img {
	width: 20px;
}

section {
	  min-height: 75%;
    position: relative;
    padding: 5% 5% 5% 5%;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 350px);
    overflow: hidden;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.50);
}

.drop_down {
    width: 111px;
    height: 36px;
    background-color: transparent;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}

.drop_down:hover {
    border: 1px solid #6D5D49;
    background-color: #6D5D49;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(109, 93, 73, 0.7);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(109, 93, 73, 0);
    }
}

.button_thing p {
	  margin-top: 35%;
	  font-family: Montserrat;
  	font-size: 14px;
  	font-weight: 500;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	text-align: center;
  	color: #ffffff;
}

footer {
	  display: flex;
	  justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer_front {
	  display: flex;
}

.facebook {
	  width: 11px;
}

footer img {
	  width: 20px;
}